@use "@/application/css/utils/mixins" as *;
@use "@/application/css/base/variables" as *;

.page-transition-overlay {
  position: fixed;
  inset: 0;
  z-index: 1000;
  pointer-events: none;
  overflow: hidden;
  background: transparent;
  opacity: 0;
}

.page-transition-overlay__circle {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 220vmax;
  height: 220vmax;
  border-radius: 50%;
  background: red;
  transform: translate(-50%, -50%) scale(0);
  will-change: transform, opacity;
}

.page-transition-overlay--transitioning {
  opacity: 1;
  pointer-events: auto;
}

.page-transition-overlay--transitioning .page-transition-overlay__circle {
  animation: page-transition-circle-show 2s $app-default-easing forwards;
}

@keyframes page-transition-circle-show {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }

  60% {
    transform: translate(-50%, -50%) scale(1);
  }

  95% {
    transform: translate(-50%, -50%) scale(1);
  }

  100% {
    opacity: 0;
  }
}
