@use "@/application/css/utils/mixins" as *;
@use "@/application/css/base/variables" as *;

.intro {
  --p: 120px;
  padding: var(--p) 0;

  @include tablet {
    --p: 100px;
  }
}

.intro__main {
  --mb: 80px;
  text-transform: none;
  width: 80%;
  margin: 0 auto;
  margin-bottom: var(--mb);

  @include tablet {
    --mb: 60px;
    width: 90%;
  }

  @include mobile {
    width: 95%;
  }
}

.intro__add {
  width: 30%;
  margin-left: auto;
  margin-right: 10%;
  opacity: 0.7;
  @include tablet {
    width: 40%;
  }
  @include mobile {
    width: 60%;
  }
}
