@use "@/application/css/utils/mixins" as *;
@use "@/application/css/base/variables" as *;

.text-animation {
  display: block;
  white-space: pre-wrap;
}

.text-animation-wrap {
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
}

.text-animation-item {
  display: inline-block;
  opacity: 0;
  transform: translateY(100%);
  will-change: transform, opacity;
  transition:
    transform var(--text-animation-duration, 0.5s) $app-default-easing,
    opacity var(--text-animation-duration, 0.5s) $app-default-easing;
}

.text-animation-state-enter .text-animation-item {
  opacity: 1;
  transform: translateY(0);
}

.text-animation-state-exit .text-animation-item {
  opacity: 0;
  transform: translateY(-100%);
}
