@use "@/application/css/utils/mixins" as *;
@use "@/application/css/base/variables" as *;

.projects-slider {
  --slide-width: 22vw;
  --slide-padding: 2vw;
  --gap: 0;
  --ratio: 300 / 400;

  width: 100vw;
  height: vh(100);
  overflow: hidden;

  touch-action: none;
  overscroll-behavior: none;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;

  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);

  transform: translateX(70%);
  transition: transform 0.7s $app-default-easing;
  transition-delay: 0.2s;

  &.projects-slider--ready {
    transform: translateX(0);
  }

  @include desktop-large {
    --slide-width: 20vw;
  }

  @include tablet {
    --slide-width: 50vw;
  }
}

.projects-slider__viewport {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  // .projects-slider--ready & {
  //   transform: translateX(0);
  // }
}

.projects-slider__webgl {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 1;
}

.projects-slider__webgl canvas {
  width: 100%;
  height: 100%;
  display: block;
  pointer-events: none;
}

.projects-slider__track {
  --progress: 0px;

  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  gap: var(--gap);
  width: max-content;
  z-index: 2;
  transform: translate3d(var(--progress), -50%, 0);
  will-change: transform;
  backface-visibility: hidden;

  @include tablet {
    top: 45%;
  }
}

.projects-slider__counter {
  --bottom: 3.5rem;
  --p: 10px;
  z-index: 11;

  position: absolute;
  bottom: var(--bottom);
  left: 50%;
  transform: translateX(-50%);
  backdrop-filter: blur(10px);
  padding: var(--p);

  background-color: rgba($black, 0.5);

  @include tablet() {
    --bottom: 7svh;
  }
}
