@use "@/application/css/utils/mixins" as *;

.projects-slider {
  --slide-width: 22vw;
  --slide-padding: 2vw;
  --gap: 0;
  --ratio: 350 / 500;

  width: 100vw;
  height: vh(100);
  overflow: hidden;

  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);

  @include desktop-large {
    --slide-width: 20vw;
  }

  @include tablet {
    --slide-width: 50vw;
  }
}

.projects-slider__viewport {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.projects-slider__webgl {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 1;
}

.projects-slider__webgl canvas {
  width: 100%;
  height: 100%;
  display: block;
  pointer-events: none;
}

.projects-slider__track {
  --progress: 0px;

  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  gap: var(--gap);
  width: max-content;

  transform: translate3d(var(--progress), -50%, 0);
  will-change: transform;
  backface-visibility: hidden;
}

.projects-slider__slide {
  @include flex-center;
  width: var(--slide-width);
  flex-shrink: 0;
  padding-inline: var(--slide-padding);
  pointer-events: all;
}

.projects-slider__media {
  position: relative;
  width: 100%;
  aspect-ratio: var(--ratio);
  opacity: 0;
}

.projects-slider__counter {
  --bottom: 3.5rem;

  position: absolute;
  bottom: var(--bottom);
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
