@use "@/application/css/utils/mixins" as *;
@use "@/application/css/base/variables" as *;

.hero {
  position: relative;
  height: vh(100);
  overflow: clip;
}

.hero__image-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.hero__image-container--mounted {
  transform: scale(1);
}

.hero__image {
  object-fit: cover;
  transform: scale(1.1);
  transition: transform $app-large-duration ease-in;

  .hero__image-container--mounted & {
    transform: scale(1);
  }
}

.hero__text {
  position: absolute;
  bottom: 3.5rem;
  right: 4rem;
  max-width: 22vw;

  @include tablet {
    max-width: 30vw;
  }

  @include mobile {
    max-width: 50vw;
  }
}

.hero__text {
  display: flex;
  flex-direction: column;
  mix-blend-mode: difference;
}

.hero__text-block {
  text-align: right;
}
