@use "@/application/css/utils/mixins" as *;
@use "@/application/css/base/variables" as *;

.directions {
  --p: 120px;
  padding: var(--p) 0;

  @include tablet {
    --p: 100px;
  }
}

.directions__content {
  display: flex;
  justify-content: space-between;
}

.directions__number-column {
  width: 35%;

  @include tablet {
    display: none;
  }
}

.directions__list {
  @include desktop-large {
    width: 50%;
  }
}
